nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/Brauerei.Front/nbproject/private/
/Brauerei.Database/nbproject/private/
/ComponentDrivers.GPIO/target/
/Component.Abstraction/target/
/ComponentPool.Abstraction/target/
/ComponentPool/target/
/Component.Web/target/
/WebApplication1/nbproject/private/
/Component.Web2/target/
/I2CHttpTest/target/
/PVMDriver/target/
/ServoDriver/ServoDriver.Abstractions/target/